/* Style pour les écrans mobiles */
@media screen and (max-width: 749px) {
  .card-covoit {
    width: auto;
  }
  .infos-voiture {
    flex-wrap: wrap;
  }
}
/* Style pour les écrans desktop ----------------------------------- */
@media screen and (min-width: 750px) {
  .card-covoit {
    width: calc(100vw - 400px);
    min-width: 512px;
  }
  .infos-voiture {
    flex-wrap: nowrap;
  }
}

/* Style pour les cartes de covoiturages ------------------------- */
.card-covoit {
  margin: 30px auto 0px auto;
}

.infos-voyage {
  padding: 10px 20px;
}

/* Conteneur des infos de départ et d'arrivée */
.infos-voyage__depart-arrivee {
  flex-grow: 1;
  max-width: 560px;
}

/* ligne avec flèche entre les deux villes */
.infos-voyage__depart-arrivee__fleche {
  /* largeur responsive : entre 120px et 800px, 40% de la largeur viewport au milieu */
  --w: 100%;
  /* épaisseur */
  --h: 2px;
  --head: 12px;

  width: var(--w);
  height: var(--h);
  position: relative;
  background: black;
  border-radius: calc(var(--h) / 2);
  z-index: 0;
}

/* pointe de la flèche (triangle à droite) */
.infos-voyage__depart-arrivee__fleche::after {
  content: "";
  position: absolute;
  right: calc(-1 * var(--head));
  top: 50%;
  transform: translateY(-50%);
  width: var(--head);
  height: var(--head);
  background: black;
  /* forme triangulaire */
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

/* Conteneur des infos du prix */
.infos-voyage__prix {
  color: var(--secondary-color);
}

.infos-voyage__separator {
  height: 1px;
}

.infos-voiture {
  padding: 30px 20px;
}

.infos-voiture__photo {
  object-fit: cover;
}

.infos-voiture__text {
  font-size: 25px;
  margin-top: -5px;
}

.placesRestantes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  color: var(--secondary-color);
}
