/* Style pour la page de covoiturage */
.covoiturages {
  width: 100%;
  width: -webkit-fill-available;
  gap: 15px;
  padding: 15px;
}

/* Style pour la page de connexion */
.connexion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  width: 100%;
  width: -webkit-fill-available;
}
.connexion__existingCount {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  width: -webkit-fill-available;
}

.container__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.connexion__newCount {
  width: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.connexion__newCount button {
  background-color: initial;
  color: var(--border-color);
  border: 1px solid;
  border-color: var(--border-color);
  width: 100%;
  width: -webkit-fill-available;
  justify-content: center;
}

.connexion__separateur {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  width: -webkit-fill-available;
}
.connexion__separateur::before,
.connexion__separateur::after {
  display: block;
  background: var(--black-color);
  content: "";
}

/* Style pour les fieldsets -----------------------------------*/
fieldset {
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  width: -webkit-fill-available;
  gap: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

legend {
  font-size: var(--fs-h2);
  font-weight: bold;
}

/* Style pour les commponents de formulaire ---------------------*/
label {
  margin-bottom: 8px;
}
input {
  width: 100%;
  width: -webkit-fill-available;
}
/* Style pour les inputs text -----------------------------------*/
.component__input-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  width: -webkit-fill-available;
}

/* Style pour les inputs date -----------------------------------*/
.component__input-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  width: -webkit-fill-available;
}

.component__input-date__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  width: 100%;
  width: -webkit-fill-available;
}
.component__input-date__container div {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.component__input-date__container input {
  width: auto;
}

/* Style pour les inputs email ----------------------------------*/
.component__input-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  width: -webkit-fill-available;
}

/* Style pour les inputs mot de passe --------------------------*/
.component__input-mdp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  width: -webkit-fill-available;
}

/* Style pour le message d'erreur -------------------------------*/
.component__alerte__icon svg {
  width: 15px;
  height: 15px;
  stroke: var(--red-color);
  margin-top: 3px;
}

.component__alerte {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  color: var(--red-color);
  margin-top: 4px;
  visibility: visible; /* Masqué par défaut */
}

.component__alerte p {
  margin-block: 0;
}
.component__alerte ul {
  margin-block: 0;
  margin-left: 20px;
}

.covoiturages__container__button {
  width: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 15px;
}

/* Style pour les écrans mobile ------------------------------------ */
@media screen and (max-width: 749px) {
  /* Style pour la page de covoiturage */
  .covoiturages,
  .connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  }

  .connexion__separateur {
    flex-direction: row;
  }
  .connexion__separateur::before,
  .connexion__separateur::after {
    height: 1px;
    width: 100%;
    width: -webkit-fill-available;
  }
}
/* Style pour les écrans desktop ----------------------------------- */
@media screen and (min-width: 750px) {
  /* Style pour la page de covoiturage */
  .covoiturages,
  .connexion {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  .covoiturages,
  .covoiturages__container__button {
    max-width: 1200px;
  }
  .connexion__separateur::before,
  .connexion__separateur::after {
    height: 150px;
    width: 1px;
  }

  .connexion__separateur {
    flex-direction: column;
    width: 50px;
  }
}
