{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block body %}
  <h1>Voyages proposés</h1>

  <div class="access_ride__container">
    <div class="access_ride__container__filtre">
      {% include 'components/filtre/filtre.html.twig' %}
    </div>
    <div class="access_ride__container__cards">
      {% include 'components/covoiturage/card-covoit.html.twig' %}
      {% include 'components/covoiturage/card-covoit.html.twig' %}
      {% include 'components/covoiturage/card-covoit.html.twig' %}
    </div>
  </div>

{% endblock %}
