{% extends 'base.html.twig' %}

{% block title %}
  Covoiturage - Détail du voyage
{% endblock %}

{% block body %}
  <h1>Détail du voyage</h1>
  <div class="container f-col g-20">
    <h2>Voyage</h2>
    <div class="f-col al-center g-20 p-20 r-15 b-1 b-secondary">
      {% include 'components/covoiturage/depart-arrive.html.twig' %}
      <div class="f-row just-sa w-100">
        {%
        $valeur = "10";
        include 'components/covoiturage/prix.html.twig' %}
        {%
        $class = "secondary";
        include 'components/icone/electricalCar.html.twig';
        %}
      </div>
      {% include 'components/icone/nbPlacesRestantes.html.twig' %}
    </div>
    <h2>Conducteur</h2>
    <div class="f-row just-sa p-20 g-20 r-15 b-1 b-secondary">
      {%
      $pseudo = "Bonport";
      include 'components/covoiturage/info-conducteur.html.twig' %}
      {%
      $starClass = "infos-voiture__star main f-row g-5 h-25";
      $textClass = "infos-voiture__text secondary";
      include 'components/icone/note.html.twig';
      %}
    </div>
    <h2>Véhicule</h2>
    <div class="f-row just-sa p-20 g-20 r-15 b-1 b-secondary">
      {% include 'components/covoiturage/info-vehicule.html.twig' %}
    </div>
    <h2>Préférence du conducteur</h2>
    <div class="f-row just-sb p-20 g-20 r-15 b-1 b-secondary">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique enim quia sint voluptate quisquam ea sunt eius nobis corporis beatae officiis cumque harum amet fuga incidunt placeat, voluptas ad numquam?</p>
    </div>
    <h2>Avis du conducteur</h2>
    <div class="f-row just-sb p-20 g-20 r-15 b-1 b-secondary">
      {% include 'components/covoiturage/avis.html.twig' %}
    </div>
  </div>
  <div class="h-25"></div>
  <div class="detail-voyage__button__participer container fixed f-row-r">
    <button class="btn btn-main mr-10">Participer</button>
  </div>
{% endblock %}