<footer class="footer">
    <a href="mailto:contact@ecoride.fr" class="footer__link">contact@ecoride.fr</a>
    <span class="footer__separator">|</span>
    <a href="" class="footer__link">Mentions légales</a>
    <span class="footer__separator">|</span>
    <a href="{{ path('app_sitemap') }}" class="footer__link">Plan du site</a>
</footer>
