<header class="header">

  <a href="../../index.php" class="header__logo"><img src="{{ asset('media/Logo-EcoRide.png') }}" alt="logo ECORIDE" class="logo"></a>
  {% include 'partials/menu.html.twig' %}

</header>