{% extends 'base.html.twig' %}

{% block title %}Rechercher un covoiturage{% endblock %}

{% block body %}
  <h1>Rechercher un covoiturage</h1>

  <form id="formSearchRide" method="POST" action="{{ path('app_access_ride') }}" class="w-100 f-col al-center">
    <div class="covoiturageForm w-100 g-15 p-15 container">
      <fieldset class="covoiturage__arrivee">
        <legend>Départ</legend>

        {# Champ texte départ #}
        {% include 'components/form/input-text.html.twig' with {
          label: "Quelle est votre adresse de départ ?",
          placeholder: "Adresse de départ",
          alertMessage: "Veuillez entrer une adresse de départ valide.",
          inputId: "adresseDepart",
          required: true,
          value: destinationDepart|default('')
        } %}

        {# Champ date départ #}
        {% include 'components/form/input-date.html.twig' with {
          labelDate: "Quelle est votre date de départ ?",
          inputDateId: "dateDepart",
          inputDateName: "DateDepart",
          alertMessage: "Merci de sélectionner une date de départ",
          required: true,
          value: dateDepart|default('')
        } %}
      </fieldset>

      <fieldset class="covoiturage__arrivee">
        <legend>Arrivée</legend>

        {# Champ texte arrivée #}
        {% include 'components/form/input-text.html.twig' with {
          label: "Quelle est votre adresse d'arrivée ?",
          placeholder: "Adresse d'arrivée",
          alertMessage: "Veuillez entrer une adresse d'arrivée valide.",
          inputId: "adresseArrivee",
          required: true,
          value: destinationArrivee|default('')
        } %}

        {# Champ date arrivée #}
        {% include 'components/form/input-date.html.twig' with {
          labelDate: "Quelle est votre date d'arrivée ?",
          inputDateId: "dateArrivee",
          inputDateName: "DateArrivee",
          alertMessage: "Merci de sélectionner une date d'arrivée",
          required: true,
          value: dateArrivee|default('')
        } %}
      </fieldset>
    </div>

    <div class="covoiturage__container__button w-100 f-row-r container">
      <button type="submit" id="btnSearchRide" class="btn btn-main" disabled>Valider</button>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('scripts/forms/search-ride.js') }}"></script>
{% endblock %}
