<div class="f-col g-10">
  <h3>Marque</h3>
  <p>{{ marque|default('Citroën') }}</p>
</div>
<div class="f-col g-10">
  <h3>Modèle</h3>
  <p>{{ model|default('C4') }}</p>
</div>
<div class="f-col g-10">
  <h3>Energie</h3>
  <p>{{ energie|default('Electrique') }}</p>
</div>
