<div class="f-row al-center g-10">
  <img class="{{ class }}"
    src="{{ asset(user.photo ?? 'media/default-user.png') }}"
    alt="Photo de profil">
  <p class="secondary bold">{{ pseudo|default('Conducteur') }}</p>
</div>
