<div class="h-30 f-row al-center g-10">
  <img class={{ class }}
    src="{{ asset('media/Photo de profil.jpg') }}"
    alt="Photo de profil du conducteur">
  <p class="secondary bold">{{ pseudo|default('Conducteur') }}</p>
</div>
