<div class="h-50 f-row al-start g-10">
  <img class="infos-voiture__photo h-50 r-50"
    src="{{ asset('media/Photo de profil.jpg') }}"
    alt="Photo de profil du conducteur">
  <div class="f-col g-2">
    <h3 class="bold secondary">{{ pseudo|default('BisonFuté') }}</h3>
    <!-- Date de publication de l'avis -->
    <p id="datePubliAvis">{{ datePubli|default('30 mars 2025') }}</p>
  </div>
</div>
