<div class="f-col al-start w-100">
  <label for="mail">Email</label>
  <input type="email" id="mail" placeholder="Adresse email" required>
  {% include 'components/form/error-alerte.html.twig' %}
</div>
