<div class="form-group f-col al-start w-100">
  <label for="{{ inputId }}">Mot de passe *</label>
  <input
    type="password"
    id="{{ inputId }}"
    name="{{ inputId }}"
    placeholder="Confirmer votre mot de passe"
    class="input"
    {% if required %} required {% endif %}
  >
  <div class="error-message hidden">
    <div class="component__alerte">
      <span class="component__alerte__icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
        </svg>
      </span>
      <div class="component__alerte__input-mdp">
        <p>La confirmation n'est pas identique au mot de passe</p>
      </div>
    </div>
  </div>
</div>
