{% set required = required|default(false) %}

<div class="form-group f-col al-start w-100">
  <label for="mail">Email *</label>
  <input
    type="email"
    id="emailInput"
    placeholder="Adresse email"
    class="input-email"
    {% if required %}required{% endif %}
  >
  {# Inclusion du message d’alerte si le champ est requis et vide #}
  <div class="error-message hidden">
    {% include 'components/form/error-alerte.html.twig' with { alertMessage: alertMessage } %}
  </div>
</div>