/* Style pour l'interrupteur ----------------------------------- */
.checkbox-wrapper-38 {
    --toggleWidth: 60px;
    --toggleHeight: 25px;
    --switchSize: 25px;
    --dotSize: 6px;

    width: var(--toggleWidth);
    height: var(--toggleHeight);
    position: relative;
}

.checkbox-wrapper-38 .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    border: 1px solid #cd2d27;
    background-color: #ed352d;
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    z-index: 5;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
}
.checkbox-wrapper-38 .toggle-label:after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: var(--switchSize);
    height: var(--switchSize);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(230, 233, 239, 0.31) 0%,
        rgba(255, 255, 255, 0.31) 100%
    );
    background-image: linear-gradient(
        to top,
        rgba(230, 233, 239, 0.31) 0%,
        rgba(255, 255, 255, 0.31) 100%
    );
    -webkit-transition: left 0.2s;
}
.checkbox-wrapper-38 .toggle-label:before {
    content: "";
    display: block;
    position: absolute;
    top: calc((var(--switchSize) / 2) - 4px);
    left: calc((var(--switchSize) / 2) - 4px);
    width: var(--dotSize);
    height: var(--dotSize);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #d4d6db;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    z-index: 10;
    -webkit-transition: left 0.2s;
}

.checkbox-wrapper-38 .toggle-input {
    margin-left: 10px;
    margin-top: 5px;
}
.checkbox-wrapper-38 .toggle-input:checked + .toggle-label {
    border: 1px solid #2c8512;
    text-align: left;
    background-color: #29a105;
}
.checkbox-wrapper-38 .toggle-input:checked + .toggle-label:after {
    left: calc(var(--toggleWidth) - var(--switchSize));
}
.checkbox-wrapper-38 .toggle-input:checked + .toggle-label:before {
    left: calc(var(--toggleWidth) - var(--switchSize) + 10px);
}

/* Style pour l'input range ------------------------------- */
/* Method 1 - Sliding Div */
/* -------------------------------------------- */
/* :: alone acts like *:: */
.method1 ::-webkit-slider-runnable-track {
    border-radius: 5px;
    background: rgb(0, 0, 0, 0);
    height: 6px;
}

.method1 ::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 10;
    margin-top: -2px;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

span.method1 {
    height: 15px;
    position: relative;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
div.slider-progress {
    position: absolute;
    left: -100%;
    z-index: 1;
    top: 5px;
    height: 5px;
    width: 100%;
    background-color: var(--main-color);
}
div.slider-background {
    position: absolute;
    left: -0%;
    top: 5px;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #7d7d7d;
}

.method1 input[type="range"] {
    z-index: 2;
    -webkit-appearance: none;
    height: 15px;
    margin: 0;
    width: 100%;
    cursor: pointer;
    border-radius: 0; /* iOS */
    background-color: rgba(0, 0, 0, 0); /*transparent*/
}

/* Style pour les étoiles de notation -------------------------- */
.rating-box {
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
}
.rating-box .stars {
    display: flex;
    align-items: center;
    gap: 5px;
}
.stars i {
    font-size: 15px;
    color: #b5b8b1;
    transition: all 0.2s;
    cursor: pointer;
}
.stars i.active {
    color: var(--main-color);
    transform: scale(1.2);
}

.action-image-buttons {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    gap: 10px;
}

.is-electric {
    color: var(--secondary-color);
}

.is-not-electric {
    color: var(--grey-color);
}
