/* Initialisation du brother */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Définition des variables de couleur et de police */
:root {
    --main-color: #1d4e19;
    --secondary-color: #704021;
    --link-color: #526b94;
    --white-color: #fef5ef;
    --red-color: #810505;
    --grey-color: #b9b7b7;
    --black-color: #000000;
}

.profile-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    grid-template-areas:
        "Photo Pseudo"
        "Note .";
    align-items: center;
    justify-items: center;
}
/* Cellule photo + bouton */
.profile-photo-cell {
    position: relative;
    grid-area: Photo;
}
/* Pseudo */
.profile-name-cell {
    grid-area: Pseudo;
}
/* Note */
.profile-note-cell {
    grid-area: Note;
}

.profile-credit-cell {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal-content {
    min-width: 60vw;
    min-height: 60vh;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: var(--white-color);
    padding: 50px;
    border-radius: 8px;
}

.ml li {
    list-style-type: none;
}

/* Style pour les écrans mobile ------------------------------------ */
@media screen and (max-width: 749px) {
    :root {
        --fs-h1: 27px;
        --fs-h2: 21px;
        --fs-h3: 18px;
        --fs-p: 16px;
        --fs-p2: 14px;
        --fs-nav: 18px;
    }

    .container {
        width: 100%;
    }

    /* Style pour le texte de la page d'accueil */
    .index__text-accueil {
        align-items: center;
    }

    /* Style pour l'image de la page d'accueil */
    .index__image-accueil {
        width: auto;
        height: 210px;
        border-radius: 10px;
    }
}
/* Style pour les écrans desktop ----------------------------------- */
@media screen and (min-width: 750px) {
    :root {
        --fs-h1: 60px;
        --fs-h2: 35px;
        --fs-h2: 30px;
        --fs-p: 18px;
        --fs-p2: 16px;
        --fs-nav: 18px;
    }

    .container {
        width: 100%;
        max-width: 1000px;
    }
    /* Style pour le texte de la page d'accueil */
    .index__text-accueil {
        align-items: flex-start;
    }

    /* Style pour l'image de la page d'accueil */
    .index__image-accueil {
        width: 100%;
        width: -webkit-fill-available;
        max-width: 600px;
        height: auto;
        border-radius: 10px;
    }
}

/* Style général de la page */
html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 0%;
    margin: 0%;
}

/* Style pour le corps de la page */
main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 60px 0px 58px 0px;
    padding: 30px 30px;
    position: relative;
}

/* Style pour le pied de page */
footer {
    bottom: 0px;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
}

.footer__link {
    color: var(--white-color);
}

/* Style pour le logo */
.logo {
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

/* Style pour les titres et les paragraphes */
h1 {
    font-size: var(--fs-h1);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: var(--fs-h2);
    font-weight: bold;
}

p {
    font-size: var(--fs-p);
    font-weight: normal;
    line-height: 1.5;
}

li {
    font-size: var(--fs-p);
    font-weight: normal;
}

label {
    font-size: var(--fs-p);
}

a {
    color: var(--link-color);
}

.offScreen {
    position: absolute;
    left: -10000px;
}

.body__plan_du_site ul {
    padding-left: 20px;
}

/* Taille 6 des icones */
.size-6 {
    width: 25px;
    height: 25px;
}

/* Style pour le prix */
.prix__montant {
    font-size: 36px;
}
.prix__unite {
    font-size: 18px;
}

.detail-voyage__button__participer {
    bottom: 80px;
    margin-right: 0px;
}

.vehicleSelection {
    background: white;
    padding-left: 10px;
}

.admin__graph {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
/* Style pour les grands écrans */
@media screen and (min-width: 1275px) {
    .admin__graph {
        flex-direction: row;
    }
}
