{% extends 'base.html.twig' %}

{% block title %}Mes véhicules{% endblock %}

{% block body %}
  <h1>Gestion de mes véhicules</h1>

  <form id="new-vehicle-form" class="container f-col just-start w-100 g-10 p-20 al-sb">
    <h2>Nouveau véhicule</h2>

    {# Champ : Immatriculation #}
    {% include 'components/form/input-text.html.twig' with {
      inputId: 'immatriculation',
      label: "Plaque d'immatriculation",
      placeholder: "AA-111-BB",
      required: true,
      alertMessage: "Le format de la plaque d'immatriculation n'est pas valide"
    } %}

    {# Champ : Date de première immatriculation #}
    {% include 'components/form/input-date.html.twig' with {
      inputDateId: 'premiereImmatriculation',
      labelDate: "Date de première immatriculation",
      inputDateName: 'premiereImmatriculation',
      alertMessage: "Merci de renseigner la date de première immatriculation"
    } %}

    {# Champ : Marque du véhicule #}
    {% include 'components/form/input-text.html.twig' with {
      inputId: 'marque',
      label: "Marque du véhicule",
      placeholder: "Marque du véhicule",
      required: true,
      alertMessage: "Merci de renseigner la marque de votre véhicule"
    } %}

    {# Champ : Modèle du véhicule #}
    {% include 'components/form/input-text.html.twig' with {
      inputId: 'modele',
      label: "Modèle du véhicule",
      placeholder: "Modèle du véhicule",
      required: true,
      alertMessage: "Merci de renseigner le modèle de votre véhicule"
    } %}

    {# Champ : Couleur du véhicule #}
    {% include 'components/form/input-text.html.twig' with {
      inputId: 'couleur',
      label: "Couleur du véhicule",
      placeholder: "Couleur du véhicule",
      required: true,
      alertMessage: "Merci de renseigner la couleur de votre véhicule"
    } %}

    {# Champ : Nombre de places disponibles #}
    {% include 'components/form/input-number.html.twig' with {
      inputId: 'placesDispo',
      label: "Nombre de places disponibles",
      min: 1,
      max: 6,
      value: 2,
      required: true,
      alertMessage: "Merci de renseigner le nombre de places disponibles"
    } %}

    <div class="container f-row just-sb g-10 w-100">
      <a href="{{ path('app_user_space') }}" class="btn btn-annul">Retour à mon compte</a>
      <button id="addVehicule" class="btn btn-main mh-50" type="submit">Ajouter un nouveau véhicule</button>
    </div>
  </form>

  <div class="container f-col just-center w-100 g-10 al-sb">
    <h2>Mes véhicules</h2>

    {% include 'components/covoiturage/recap-vehicule.html.twig' with {
      immatriculation: 'AB-123-CD',
      marque: 'Citroën',
      model: 'C4',
      class: '',
      pencilIconVisibility: 'visible'
    } %}

    {% include 'components/covoiturage/recap-vehicule.html.twig' with {
      immatriculation: 'EF-456-GH',
      marque: 'Peugeot',
      model: '208',
      class: '',
      pencilIconVisibility: 'visible'
    } %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="{{ asset('scripts/forms/user-vehicule.js') }}"></script>
{% endblock %}