
<button
  id="filtre__toggle"
  class="filtre__toggle-btn btn btn-sec filtre__title"
  type="button"
>Filtres
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 filtre__toggle-icon">
    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
  </svg>
</button>

<form id="filtre__form" class="filtre__form">
  <h2 class="filtre__form__title">Filtre</h2>
    {# Choix du critère écologique #}
    <div class="filtre__item">
      <label class="filtre__item__label" for="ecologique">Voyages écologiques uniquement</label>
      <div class="filtre__item__imput-container f-row al-center g-10">
        <input
          type="checkbox"
          id="ecologique"
          name="ecologique"
          value="0"
        >
      </div>
    </div>
    {# Choix du critère prix max #}
    <div class="filtre__item">
      <label class="filtre__item__label" for="prixMax">Prix maximum :</label>
      <div class="filtre__item__imput-container f-row al-center g-10">
        <input
            type="range"
            id="prixMax"
            name="prixMax"
            min="2"
            max="50"
            step="2"
            value="50"
          >
          <span id="prixMaxValeur">50 crédits</span>
        </div>
    </div>
    <div class="filtre__item">
      <label class="filtre__item__label" for="rapide">Le plus rapide</label>
      <div class="filtre__item__imput-container f-row al-center g-10">
        <input
          type="checkbox"
          id="rapide"
          name="rapide"
          value="0"
        >
      </div>
    </div>
    <div class="f-row just-end">
    <button id="filtre__button" class="filtre__button btn btn-main" type="button">Appliquer</button>
    </div>
  </form>